# Created by .ignore support plugin (hsz.mobi)
### JetBrains template

## Directory-based project format:
.idea/
*.iml

## Ignore all jars
*.jar

### Gradle template
.gradle/
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
